@import "reset.css";

body {
background-color: #dddbdb;
}

.main {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width:1440px;
    height: 900px;
    max-width: 1440px;
    max-height: 900px;
    margin: auto;
    background-color: #F2F2F2;
}

/* menu */
.main .menu {
    position: absolute;
    width: 140px;
    height: 900px;
    left: 0px;
    top: 0px;
    
    background: #C4C4C4;
}

.main .menu .user-icon {
    position: absolute;
    width: 140px;
    height: 121px;
    left: 0px;
    top: 51px;
}

.main .menu .user-icon a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 121px;
    background: #949494;
    background-image: url("https://img.icons8.com/ios-filled/2x/user-male.png");
    background-repeat: no-repeat;
    background-size: 75px;
    background-position: center;
}

.main .menu .board-icon {
    position: absolute;
    width: 140px;
    height: 121px;
    left: 0px;
    top: 182px;
}

.main .menu .board-icon a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 121px;
    background: #C4C4C4;
    background-image: url("https://img.icons8.com/ios-filled/2x/noticeboard.png");
    background-repeat: no-repeat;
    background-size: 75px;
    background-position: center;
}

.main .menu .board-icon a:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 121px;
    background: #b9b9b9;
    background-image: url("https://img.icons8.com/ios-filled/2x/noticeboard.png");
    background-repeat: no-repeat;
    background-size: 75px;
    background-position: center;
}

/* admin */
/* .main .menu .users-icon {
    position: absolute;
    width: 140px;
    height: 121px;
    left: 0px;
    top: 313px;
}

.main .menu .users-icon a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 121px;
    background: #C4C4C4;
    background-image: url("https://img.icons8.com/ios-glyphs/344/group.png");
    background-repeat: no-repeat;
    background-size: 75px;
    background-position: center;
}

.main .menu .users-icon a:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 121px;
    background: #b9b9b9;
    background-image: url("https://img.icons8.com/ios-glyphs/344/group.png");
    background-repeat: no-repeat;
    background-size: 75px;
    background-position: center;
} */

.main .menu .logout {
    position: absolute;
    width: 98px;
    height: 40px;
    left: 22px;
    top: 816px;
    background: #F94444;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    font-family: Roboto;
    font-style: normal;
    font-size: 20px;
    letter-spacing: 0.005em;
    color: #FFFFFF;
    text-shadow: 0px 4px 20px rgba(53, 53, 53, 0.3);
    cursor: pointer;
}

.main .menu .logout:hover {
    position: absolute;
    width: 98px;
    height: 40px;
    left: 22px;
    top: 816px;
    background: #F94444;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    font-family: Roboto;
    font-style: normal;
    font-size: 20px;
    letter-spacing: 0.005em;
    color: #FFFFFF;
    text-shadow: 0px 4px 20px rgba(53, 53, 53, 0.3);
    cursor: pointer;
}

/* content */

.main .content {
    position: absolute;
    left: 131px;
}

.main .content .outline{
    position: absolute;
width: 720px;
height: 900px;
left: 306px;
top: 0px;
background: #FFFFFF;
border: 1px solid #000000;
box-sizing: border-box;
}

.main .content .outline h1 {
    display: flex;
    justify-content: center;
    font-size: 58px;
    font-weight: bold;
    color: #F2F2F2;
    border-bottom: 1px solid black;
    padding: 10px 0;
    -webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: rgb(0, 0, 0);
}
.main .content .outline .info {
    position: absolute;
    width: 650px;
    height: 508px;
    left: 35px;
    top: 113px;
}

.info .name-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px 0px 8px;
    height: 46px;
    margin-top: 16spx;
    border-bottom: 2px solid black;
}

.info .name-block p {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    letter-spacing: 0.005em;
    color: #000000;
    text-shadow: 0px 4px 20px rgba(53, 53, 53, 0.3);
    width: 120px;
}

.info .name-block input {
    border:none;
    height: 100%;
    width: 100%;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.005em;
    color: #000000;
    padding: 0 5px 5px 15px;
}

.info .id-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 16px;
    padding: 0px 0px 0px 8px;
    height: 46px;
    border-bottom: 2px solid black;
}

.info .id-block p {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    letter-spacing: 0.005em;
    color: #000000;
    text-shadow: 0px 4px 20px rgba(53, 53, 53, 0.3);
    width: 120px;
}

.info .id-block input {
    border:none;
    height: 100%;
    width: 100%;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.005em;
    color: #000000;
    padding: 0 5px 5px 15px;
}

.info .pw-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 16px;
    padding: 0px 0px 0px 8px;
    height: 46px;
    border-bottom: 2px solid black;
}

.info .pw-block p {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    letter-spacing: 0.005em;
    color: #000000;
    text-shadow: 0px 4px 20px rgba(53, 53, 53, 0.3);
    width: 120px;
}

.info .pw-block input {
    border:none;
    height: 100%;
    width: 100%;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.005em;
    color: #000000;
    padding: 0 5px 5px 15px;
}

.info .email-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 16px;
    padding: 0px 0px 0px 8px;
    height: 46px;
    border-bottom: 2px solid black;
}

.info .email-block p {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    letter-spacing: 0.005em;
    color: #000000;
    text-shadow: 0px 4px 20px rgba(53, 53, 53, 0.3);
    width: 120px;
}

.info .email-block input {
    border:none;
    height: 100%;
    width: 100%;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.005em;
    color: #000000;
    padding: 0 5px 5px 15px;
}

.info .joinDate-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 16px;
    padding: 0px 0px 0px 8px;
    height: 46px;
    border-bottom: 2px solid black;
}

.info .joinDate-block p {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    letter-spacing: 0.005em;
    color: #000000;
    text-shadow: 0px 4px 20px rgba(53, 53, 53, 0.3);
    width: 120px;
}

.info .joinDate-block input {
    border:none;
    height: 100%;
    width: 100%;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.005em;
    color: #000000;
    padding: 0 5px 5px 15px;
}

.main .content .outline .button {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    top: 514px;
    left: 190px;
    width: 350px;
    height: 120px;
}

.main .content .outline .button #updateInfo {
    width: 140px;
    height: 37px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 0.005em;
    border: none;
    color: #000000;
    background: #C4C4C4;
    cursor: pointer;
}

.main .content .outline .button #updateInfo:hover {
    width: 140px;
    height: 37px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 0.005em;
    border: rgb(38, 38, 110) 1px solid;
    color: #000000;
    background: #C4C4C4;
    cursor: pointer;
}

.main .content .outline .button #deleteInfo{
    width: 140px;
    height: 37px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 0.005em;
    border: none;
    color: #000000;
    background: #C4C4C4;
    cursor: pointer;
}

.main .content .outline .button #deleteInfo:hover{
    width: 140px;
    height: 37px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 0.005em;
    border: rgb(38, 38, 110) 1px solid;
    color: #000000;
    background: #C4C4C4;
    cursor: pointer;
}

.main .content .outline .button .back {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 122px;
    width: 169px;
    height: 41px;
    background: #FF3232;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 12px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 0.005em;
    color: #FFFFFF;
    cursor: pointer;
    margin-left: 50px;
}

.main .content .outline .button .back:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 122px;
    width: 169px;
    height: 41px;
    background: #ff3232b0;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 12px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 0.005em;
    color: #d6d6d6;
    cursor: pointer;
    margin-left: 50px;
}
